@model ProgramaModel

@{
    ViewBag.MenuActual = ConstantesWeb.Menu.Mantenimiento;
    ViewBag.MenuItemActual = ConstantesWeb.MenuItem.MantenerMaterial;
}

@section styles{
    <style type="text/css">
        .well {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 10px;
        }

        .well-form {
            padding-top: 15px;
            padding-bottom: 0px;
            padding-left: 15px;
            padding-right: 15px;
        }
    </style>
}

<header class="header-crumb">
    <div class="container">
        <h2>Mantener Material</h2>
    </div>
</header>

<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <div class="table-responsive ">
                        <table id="tblMateriales" class="table table-striped table-header table-rounded">
                            <thead class="upper">
                                <tr>
                                    <th class="hide"></th>
                                    <th>Código</th>
                                    <th>Descripción</th>
                                    <th>Pres/Anc/Lar/Esp</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                              
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="well well-form">
                        <div class="form-horizontal">
                            <div class="form-group form-group-sm">
                                <div class="col-xs-5">
                                    Código:
                                </div>
                                <div class="col-xs-7">
                                    <input id="txtCodigo" class="form-control" value="0"/>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-xs-5">
                                    Descripción:
                                </div>
                                <div class="col-xs-7">
                                    <input id="txtDescripcion" class="form-control" value="0"/>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-xs-5">
                                    Presión:
                                </div>
                                <div class="col-xs-7">
                                    <input id="txtPresion" class="form-control" value="0"/>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-xs-5">
                                    Ancho:
                                </div>
                                <div class="col-xs-7">
                                    <input id="txtAncho" class="form-control" value="0"/>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-xs-5">
                                    Largo:
                                </div>
                                <div class="col-xs-7">
                                    <input id="txtLargo" class="form-control" value="0"/>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-xs-5">
                                    Espesor:
                                </div>
                                <div class="col-xs-7">
                                    <input id="txtEspesor" class="form-control" value="0"/>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-xs-5">
                                    Stock Min:
                                </div>
                                <div class="col-xs-7">
                                    <input id="txtStockMinimo" class="form-control" value="0"/>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-xs-5">
                                    Estado:
                                </div>
                                <div class="col-xs-7">
                                    <select id="cboEstado" class="form-control" >
                                        <option value="Activo"/>
                                        <option value="Inactivo"/>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-xs-12 text-center">
                                    <a href="javascript:;" class="btn btn-primary-line" id="btnGuardar"> Crear</a>
                                    <a href="javascript:;" class="btn btn-primary-line" id="btnSalir"> Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </section>

    <br />
    <br />
    <br />
</main>


@section scripts{
    <script type="text/javascript">

        var urlGuardarPrograma = '@Url.Action("GuardarPrograma")';
        var urlFinalizarPrograma = '@Url.Action("FinalizarPrograma")';

        $(function () {
            
            $("#btnGuardar").on("click", function () {
                if (Validaciones()) {
                    Guardar();
                }
            });

            $("#btnSalir").on("click", function () {
                Refrescar();
            });
        });

        function Validaciones() {
            var cantidadOV = parseInt($("#txtCantidadOV").val());
            if (cantidadOV == 0) {
                app.showMessageDialog("Debe seleccionar Ordenes de venta.");
                return false;
            }

            var fechaInicioPrograma = $("#txtFechaInicioPrograma").val();
            if (fechaInicioPrograma == "") {
                app.showMessageDialog("Debe ingresar la fecha de inicio del programa.");
                return false;
            }
            var fechaInicioProgramaDate = stringToDate(fechaInicioPrograma);

            var fechaFinPrograma = $("#txtFechaFinPrograma").val();
            if (fechaFinPrograma == "") {
                app.showMessageDialog("Debe ingresar la fecha de fin del programa.");
                return false;
            }
            var fechaFinProgramaDate = stringToDate(fechaFinPrograma);

            if (fechaFinProgramaDate <= fechaInicioProgramaDate) {
                app.showMessageDialog("La fecha de fin de programa debe ser mayor a la fecha de inicio.");
                return false;
            }

            var fechaInicioPlan = $("#txtFechaInicioPlan").val();
            var fechaInicioPlanDate = stringToDate(fechaInicioPlan);
            if (fechaInicioProgramaDate < fechaInicioPlanDate) {
                app.showMessageDialog("La fecha de inicio de Programa debe ser mayor o igual a la fecha de inicio del Plan.");
                return false;
            }

            var fechaFinPlan = $("#txtFechaFinPlan").val();
            var fechaFinPlanDate = stringToDate(fechaFinPlan);
            if (fechaFinProgramaDate > fechaFinPlanDate) {
                app.showMessageDialog("La fecha de fin de Programa debe ser menor o igual a la fecha fin del Plan.");
                return false;
            }

            var fechaFinUltimoPrograma = $("#tblProgramaAnteriores tbody td.tdFechaFinPrograma:last").text();
            if (fechaFinUltimoPrograma != "") {
                var fechaFinUltimoProgramaDate = stringToDate(fechaFinUltimoPrograma);
                if (fechaInicioProgramaDate <= fechaFinUltimoProgramaDate) {
                    app.showMessageDialog("Debe ingresar la fecha de inicio del programa mayor a la fecha fin del ultimo programa anterior.");
                    return false;
                }
            }

            return true;
        }

        function Guardar() {
            var model = {
                Id: parseInt($("#hidIdPrograma").val()),
                Numero: $("#hidNumero").val(),
                Estado: $("#hidEstado").val(),
                FechaInicioStr: $("#txtFechaInicioPrograma").val(),
                FechaFinStr: $("#txtFechaFinPrograma").val(),
                CantidadOV: parseInt($("#txtCantidadOV").val()),
                IdPlan: parseInt($("#hidIdPlan").val()),
                OrdenesVenta: new Array()
            };
            $('#tblOrdenesVenta').find("tbody tr").each(function () {
                var seleccionado = $(this).find("td.tdSeleccionar input:enabled").is(':checked');
                if (seleccionado === true) {
                    var idOrdenVenta = parseInt($.trim($(this).find("td.tdIdOrdenVenta").text()));
                    model.OrdenesVenta.push({
                        Id: idOrdenVenta
                    });
                }
            });

            var mensajeConfirmacion = "";
            if (model.Id === 0) {
                mensajeConfirmacion = "Seguro de crear el programa.";
            } else {
                mensajeConfirmacion = "Seguro de modificar el programa vigente.";
            }

            app.showConfirmDialog(mensajeConfirmacion, function () {
                $.ajax({
                    type: 'POST',
                    url: urlGuardarPrograma,
                    data: JSON.stringify(model),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        if (response.Success === true) {
                            var mensajeGrabadoCorrecto = "Se grabo el programa " + response.Data + ". En el periodo del " + model.FechaInicioStr + " al " + model.FechaFinStr;
                            app.showMessageDialog(mensajeGrabadoCorrecto, Refrescar);
                        } else {
                            app.showMessageDialog(response.Message);
                        }
                    },
                    error: function (x, xh, xhr) {
                        console.error(xh);
                    }
                });
            });
        }

        function Refrescar() {
            window.location.reload();
        }

    </script>
}